<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sic.marktory.member.query.mapper.MemberMapper">
<resultMap id="memberMap" type="com.sic.marktory.member.query.dto.MemberDTO">
    <id property="id" column="id"/>
    <result property="email" column="email"/>
    <result property="password" column="password"/>
    <result property="name" column="name"/>
    <result property="nickname" column="nickname"/>
    <result property="birthday" column="birthday"/>
    <result property="image" column="image"/>
    <result property="status" column="status"/>
    <result property="blackDate" column="black_date"/>
    <result property="assignedDate" column="assigned_date"/>
    <result property="reportCount" column="report_count"/>
    <result property="isTerms" column="is_terms"/>
</resultMap>
</mapper>
