<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sic.marktory.post.query.mapper.PostMapper">
    <resultMap id="PostResultMap" type="com.sic.marktory.post.query.dto.PostDTO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="writtenDate" column="written_date"/>
        <result property="deleteDate" column="delete_date"/>
        <result property="visibility" column="visibility"/>
        <result property="memberId" column="member_id"/>
        <result property="categoryId" column="category_id"/>
    </resultMap>


<!--    회원 공개 게시글 전체 조회-->
    <select id="selectAllPublicPosts" resultMap="PostResultMap">
        SELECT
        p.id AS post_id,
        p.title,
        p.content,
        p.written_date,
        p.delete_date,
        p.visibility,
        p.member_id,
        p.category_id
        FROM post p
        WHERE p.visibility = 'public'  <!-- 공개된 게시글만 -->
        AND p.delete_date IS NULL  <!-- 삭제되지 않은 게시글 -->
        ORDER BY p.written_date DESC;  <!-- 최신순으로 정렬 -->
    </select>
</mapper>